*{
    padding: 0;
    margin:0;
}
.w {
    width: 1200px;
    margin:auto;
}
body{
    background-color: #f3f5f7;
}

li {
    list-style: none;
}
a{
    text-decoration: none;
}

.header {
    height: 42px;
    /* background-color: pink; */
    /* 层叠性 */
    margin: 30px auto;
}
.logo{
    float: left;
    width: 198px;
    height: 42px;
}

.nav{
    float: left;
    margin-left: 60px;
}
.nav ul li {
    float: left;
    margin:0 15px;
}
.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: black;
}
.nav ul li a:hover {
    border-bottom: 2px solid rgb(0, 183, 255);
}
/* 搜索模块 */
.search {
    float: left;
    width: 412px;
    height: 42px;
    background-color: skyblue;
    margin-left: 70px;
}
.search input {
    float: left;
    width: 345px;
    height: 40px;
    border:1px solid #00a4ff;
    border-right: 0;
    color: rgb(209, 209, 209);
    font-size: 14px;
    padding-left: 15px;
}
.search button{
    float: left;
    width: 50px;
    height: 42px;
    background:url(images/btn.png);
    border: 0;
}
.user{
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}
.user img{
    vertical-align:middle;
}
.banner{
    height: 421px;
    background-color: slateblue;
}
.banner .w {
    height: 420px;
    background-color: pink;
    background: url(images/banner2_20190819_210028.png) no-repeat top center;
}
.subnav{
    float: left;
    width: 190px;
    height: 421px;
    background:rgba(0,0,0,.3) ;
}
.subnav ul li{
    height: 45px;
    line-height: 45px;
    padding:0 20px;
}
.subnav ul li a{
    font-size: 14px;
    color: silver;
}
.subnav ul li a span{
    float: right;
}
.subnav ul li a:hover{
    color: #00a4ff;
}
.course{
    float: right;
    width: 230px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    /* 浮动的盒子有外边距合并的问题 */
    margin-top: 50px;
}
.course h2{
    width: 700;
    width: 230px;
    height: 48px;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    color: seashell;
    background-color: skyblue;
}
.bd{
    padding:0 20px;
}
.bd li {
    padding: 14px 0;
    border-bottom: 1px solid #cccccc;
}
.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}
.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}
.bd ul .more {
    display: block;
    height: 38px;
    color: skyblue;
    border:1px solid #00a4ff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}
.goods{
    height: 60px;
    background-color: snow;
    box-shadow:0 2px 3px 3px rgba(0,0,0,.1);
    margin-top: 10px;
    line-height: 60px;
}
.goods h3 {
    float:left;
    margin: 0 30px;
    color:#00a4ff;
}
.goods ul li{
    float:left;
}
.goods .mod {
    float:right;
    margin: 0 30px;
    color:#00a4ff;
}
.goods ul li a{
    padding:0 30px;
    border-left: 1px solid rgb(175, 175, 175);
    font-size: 14px;
    color: black;
}
.box{
    margin-top: 30px;
}
.box-hd{
    height: 45px;
}
.box-hd h3{
    float: left;
    line-height: 45px;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
}
.box-hd a{
    float: right;
    line-height: 45px;
    padding-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.box-bd ul {
    width: 1225px;
}
.box-bd ul li em{
    position: absolute;
    top:4px;
    right:-4px;
}
.box-bd ul li{
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: rgb(255, 255, 255);
    margin-right: 15px;
    margin-bottom: 15px;
}
.box-bd ul li img {
    width: 100%;
}
.box-bd ul > li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
}
.box-bd ul li .info {
    margin: 20px 20px 20px 25px;
    font-size: 12px;
    font-weight: 400;
    color: #cccccc;
}
.box-bd ul li .info span {
    color: #f5ad27;
}
.footer{
    height: 400px;
    background-color: rgb(255, 255, 255);

}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.copyleft{
    float:left;
    width: 400px;
    height: 400px;
    padding-top: 40px;
    padding-left: 20px;
}

.copyleft p{
    font-size: 12px;
    color: rgb(112, 112, 112);
    margin-top:15px;
}
.copyleft span a{
    display:block;
    width: 120px;
    height: 30px;
    border:1px solid #00a4ff;
    font-size: 16px;
    color: #00a4ff;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}
.link{
     float: right;
}
.link dl {
    float: left;
    padding-left: 120px;
}
.link dt{
    margin-top: 20px;
    margin-bottom: 20px;
     font-size: 16px;
}
.link dl dd a {
    display:block;
    font-size: 10px;
    color: black;
    margin-top: 10px;
}